@font-face {
    font-family: 'Futura';
    src: local('Futura Modern'), url('./Futura.woff') format('woff');
}
body {
    font-family: 'Futura', sans-serif;
    font-size: 0.8em;
    color: #444;
    background: #EEEEEE;
}
a {
    text-decoration: underline;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
div.banner {
    background: #212121;
    text-align: center;
}
div.banner img {
    margin-left: auto;
    margin-right: auto;
}
div.content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
div.content div.oldabout {
    float: left;
    margin-right: 0.6em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    background: white;
    width: 50%;
    padding: 4px;
    border: 1px solid rgb(117, 117, 117);
}
div.title {
    font-size: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}
div.subtitle {
    font-size: 1.2em;
    color:#888;
    margin-bottom: 1.4em;
}
div.header {
    clear: both;
    font-size: 1.2em;
}
div.quote {
    margin-left: 2em;
}
img.insert {
    float: left;
    margin-top: 0.2em;
    margin-right: 0.6em;
    background: #666;
}
div.frame {
    position: relative;
}
div.menu {
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
}
div.menu li {
    font-size: 1.1em;
    margin-bottom: 0.4em;
    list-style: none;
}
div.menu a {
    text-decoration: none;
}
div.menu a:hover {
    text-decoration: underline;
}
div.menu li.current {
    font-size: 1.4em;
}
div.menu li.current:before {
    content: '';
    float: left;
    height: 1.2em;
    width: 1.3em;
    margin-left: -1.3em;
    background-image: url('mine.png');
    background-size: 1em;
    background-repeat: no-repeat;
	background-position: 0 0.2em;
}
button.menu-icon {
    display: none;
}
div.footer {
    margin-top: 2em;
    font-size: 0.8em;
    color:#888;
}
@media only screen and (max-width: 960px) {
    div.content {
        margin-right: 4em;
    }
}
@media only screen and (max-width: 767px) {
    div.content {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }
    div.banner img {
        width: 100%;
        margin: 0 0;
    }
    div.menu {
        display: none;
        position: absolute;
        top: -4em;
        right: 1em;
        background: #CCC;
        border: 1px solid black;
        width: 14em;
    }
    button.menu-icon {
        background-color: #212121;
        display: block;
        position: absolute;
        top: -7em;
        right: 2em;
        padding: 1px;
        border: 1px solid #CCC;
    }
    button.menu-icon .bar {
        display: block;
        background-color: #CCC;
        width: 2em;
        height: 4px;
        border: 2px solid #212121;
        border-radius: 2px;
    }
}